.question-outoff span {
  font-size: 16px;
}
.Quiz-question-container{
  height: 100vh;
}
hr {
  background-color: rgb(226, 226, 226) !important;
  width: 70% !important;
  float: left;
}
.hr {
  float: left;
  width: 100%;
}
.question-outoff .question-order {
  color: #39b98f;
}
.numberCircle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #39b98f;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
}
.que-path,
.correct {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #81ffd5;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  border: none;
  outline: none !important;
}
.correct {
  background: #39b98f;
  color: #fff;
}
.quizzes {
  border: 1px solid #ccc;
  border-radius: 18px;
}
.span-question {
  font-size: 18px;
  font-weight: 500;
}
/* .option-1:focus {
  background-color: #39b98f;
  color: #fff;
  outline: none;
} */
.option-1,
.correct-option {
  width: 48%;
  height: fit-content;
  border: none !important;
  border-radius: 10px;
  background: rgba(90, 209, 144, 0.2);
  font-size: 16px;
  font-weight: 500;
  outline: none;
}
.option-1:focus,
.correct-option:focus {
  outline: none;
}
.correct-option {
  background-color: #39b98f;
  color: #fff;
  outline: none !important;
}
.timer-text {
  font-weight: 600 !important;
}
.timer-hand {
  font-size: 11px;
  color: #39b98f;
}
.back-btn {
  position: relative;
  height: 30px;
  width: 30px;
  background: #39b98f;
  border-radius: 50%;
  cursor: pointer;
}
.back-btn .triangle {
  position: relative;
  top: 6px;
  left: 8px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid white;
}
.back-btn .halfcircle {
  position: absolute;
  height: 12px;
  width: 15px;
  top: 10px;
  left: 8px;
  border-radius: 50%;
  border: 2px solid white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(35deg);
}