.timer-span {
  font-weight: 700 !important;
  color: #39b98f;
}
.countdown-timer > .pop-span {
  animation: pop 0.8s linear infinite;
}
@keyframes pop {
  0% {
    transform: scale(0.6);
  }
  30% {
    transform: scale(1.1);
  }
}
